[testing_env]
testing_server_ip = 192.168.1.128
testing_server_port = 4005
testing_terminal = ada8b19b0406
force_reboot = True
reboot_timeout = 9000
abnormal_threshold = 2

[testing]
phase-one_timeout = 20
permissions = False
reboot = False
phase-two_timeout = 40
monkey = True
testing_label = prueba_david

[rabbitmq]
username = privapp
password = ElCieloEsAzul
server_ip = rabbit-local-test1
server_port = 5672
queue = queue2
exchange = cliip_exchange

[base]
base_path = /app/
results_output = /app/logging/log/

[storage]
ip = 172.31.162.44
port = 30500
